<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
 


    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->

                    <div class="col-md-12 col-12 main_header_left align-item-center">
                        <figure class="errimg">
                            <img src="immage/errorPage.jpg" alt="rajesh" class="img-fluid" title="rajesh techenical">
                        </figure>
                   
                        <p>Welcome to rajesh world</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>goBack</button></a>
                    </div>





                </div>
            </div>

        </div>

    </div>

    <!--footer code-->
    {{>footer}}
</body>

</html>